<!DOCTYPE html>
<html>
  <head>
    <title>Submit Your Awesome Link</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>
    <h1>The Best Articles on da Web</h1>

    <button><a href="/articles/new">Submit a Link!</a></button><br>

    <% articles.each do |article| %>
      <br>
      <strong>Title:</strong> <a href="<%= article["url"] %>" target="_blank"><%= article["name"]%></a><br>
      <strong>Description:</strong> <%= article["description"]%><br>
      <br>
    <% end %>

  </body>
</html>
