<!DOCTYPE html>
<html>
  <head>
    <title>Submit Your Awesome Link</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>
    <h3 id ="error"><%=error_message%></h3>

    <h1>Submit The Best Articles on da Web</h1>
    <form action = "/articles/new" method = "post" class = "form-style-6">
      Link:<br>
      <label for="article_url"></label>
      <input type="url" id="article_url" name="article_url" placeholder="http://" value="<%=url_resubmit%>" required>
      <br>
      Title:<br>
      <input type="text" id="title" name="title" placeholder="Article title..." value="<%=title_resubmit %>"required>
      <br>
      Description:<br>
      <input type="text" id="description" name="description" placeholder="Description..." maxlength=20 value="<%=description_resubmit %>" required>
      <br>
      <input type="submit">
    </form>
    <br>
    <button class = "btn"><a href="/articles">Go back!</a></button><br>
  </body>

</html>
